<app-navbar></app-navbar>

<div>
    <img src="../../assets/foto_perfil.png" alt="logo" class="avatar" alt="avatar">
</div>

<form [formGroup]="editarPerfil" class="container"  >
  <h2>{{"perfil.datosPerfil" | translate }}</h2>
  <div class="form-container">
    <label class="txt-label">{{"nombre" | translate }}</label>
    <input class="input-form" type="text" formControlName="nombre" value="{{usuario.nombre}}">
    <img class="icon-edit" src="../../assets/edit_grey.png" >
  </div>
  <div class="form-container">
    <label class="txt-label">{{"apellidos" | translate }}</label>
    <input class="input-form" type="text" formControlName="apellidos" value="{{usuario.apellidos}}" >
    <img class="icon-edit" src="../../assets/edit_grey.png">
  </div>
  <div class="form-container">
    <label class="txt-label">{{"email" | translate }}</label>
    <input class="input-form" type="email" formControlName="email" value="{{usuario.email}}">
    <img class="icon-edit" src="../../assets/edit_grey.png">
  </div>
  <div class="button-container">
    <button type="submit" class="submit-button" (click)="editar()">{{"botones.guardarCambios" | translate }}</button>
    <button type="submit" class="submit-button-cerrar-sesion" (click)="cerrarSesion()">{{"botones.cerrarSesion" | translate }}</button>
  </div>
  <div class="form-container">
    <h2 class="cambiar-contraseña" (click)="cambiarPassword(usuario)">{{"botones.cambiarContrasena" | translate }}</h2>
  </div>
</form>


