.container {
  text-align: center;
  font-family: "Allerta";
  padding: 10px;
}
h2 {
  font-size: 30px;
  margin: 30px;
  font-size: bold;
  text-align: left;
}

.label {
  text-align: left;
  position: relative;
  left: 22%;
  top: 5px;
  width: fit-content;
}
input {
  margin: 10px;
  width: 55%;
  font-family: "Allerta";
  font-size: 14px;
  background-color: white;
  border: 1px solid #f1f0f0;
  border-radius: 5px;
  height: 30px;
  padding-left: 14px;
}
input[type="file"] {
  margin-top: 20px;
  border: none;
  width: 305px;
}
.input-disabled {
  background-color: #ededed;
}
input::placeholder {
  color: lightgray;
}
.datetime-picker {
  padding-top: 2px;
  padding-bottom: 2px;
}
.buttons {
  margin-top: 50px;
  font-family: "Allerta";
  /* width: 20%; */
  height: 40px;
  font-size: 17px;
  /* background-color: #E20074 !important; */
  //color: white !important;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  &__guardar{
    background-color: #36bf98;
    color: #ffffff;
    font-family: allerta;
    font-size: 15px;
  }
  &__cancelar{
    background-color: #8c1f1f;
    color:#ffffff;
    font-family: allerta;
    font-size: 15px;
  }
}
.button:disabled {
  background-color: #a39d9d  !important;
}

/* .calendar-container {
  position: relative;
  width: fit-content;
  margin: 0 auto;
} */

input:focus {
  outline: none;
  border-bottom: 2px solid #E20074;
}
