

<div class="container">
  <div class="container__wrapper">

    <div class="container__wrapper__content-wrapper">
      <!-- <h1>Próximos Partidos</h1>
      <mat-form-field  >

      <input matInput [matDatepicker]="picker" placeholder="Selecciona una fecha" (dateInput)="onDateInput($event)"  >
      <mat-datepicker-toggle matIconSuffix [for]="picker" ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <p *ngIf="todayDate">Fecha seleccionada formateada: {{ todayDate | date:'short' }}</p>

    </div>
    <div class="container__wrapper__content-wrapper" >
      <button mat-raised-button color="primary" (click)="openSnackBar()">Enviar correo confirmación</button>
    </div>
    <div class="container__wrapper__content-wrapper" >
      <h1>Próximos Partidos</h1>
<mat-card class="demo-inline-calendar-card" >
        <mat-calendar [(selected)]="selected"></mat-calendar>
      </mat-card>

    </div>
    <p>Selected date: {{selected}}</p> -->
    <!-- <div class="container__wrapper" #TABLE > -->
      <div class="buttons">
      <button mat-raised-button class="container__wrapper__buttons" color="primary" (click)="userList()" >Mostrar Listado Usuarios</button>
      <button mat-raised-button class="container__wrapper__buttons" color="primary" (click)="hiddenUserList()" >Ocultar Listado</button>
    </div>
    <div class="container__wrapper" #TABLE>
      <table mat-table [dataSource]="usuarios" class="mat-elevation-z8" #table *ngIf="hiddenList">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Id </th>
          <td mat-cell *matCellDef="let element"> {{element.userId}} </td>
        </ng-container>
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
      <div class="buttons">
      <button mat-raised-button class="container__wrapper__buttons" color="primary" (click)="ExportTOExcel()" *ngIf="exportCsv">Exportar a XLSX
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="description" ></mat-icon>

      </button>
      </div>
    </div>
    </div>
</div>

