


<div class="container">
  <div class="container__wrapper">
    <div class="container__wrapper__content-wrapper">
      <!-- MOSTRAR CALENDARIO AL CLICAR EN EL ICONO -->
      <!-- <h1>Próximos Partidos</h1>
      <mat-form-field  >
      <input matInput [matDatepicker]="picker" placeholder="Selecciona una fecha" (dateInput)="onDateInput($event)"  >
      <mat-datepicker-toggle matIconSuffix [for]="picker" ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <p *ngIf="todayDate">Fecha seleccionada formateada: {{ todayDate | date:'short' }}</p>
    </div>
    <div class="container__wrapper__content-wrapper" >
      <button mat-raised-button color="primary" (click)="openSnackBar()">Enviar correo confirmación</button>
    </div> -->

        <!-- CALENDARIO DATAPICKER DESPLEGADO DIRECTAMENTE -->

    <!-- <div class="container__wrapper__content-wrapper" >
      <h1>Próximos Partidos</h1>
        <mat-card class="demo-inline-calendar-card fechas-marcadas" >
          <mat-calendar [(selected)]="selected" >
          </mat-calendar>
        </mat-card>
    </div>

    <p>Selected date:{{ selected | date:'short' }}</p> -->
    <!-- @for (user of users; track user.id) {
      {{ user.name }}
    } @empty {
      Empty list of users
    } -->

    <div class="cards-wrapper">
        @for (partido of partidosFran; track $index) {
          <mat-card  class="card" *ngIf="$index < 3" >
          <mat-card-header  >
            <mat-card-title>Apuntarse al partido con fecha:</mat-card-title>
            <mat-card-subtitle>{{partido.nombrePartido}}</mat-card-subtitle>
            <mat-card-subtitle>{{partido.fechaPartido}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions>
            <button mat-raised-button color="primary" (click)="getUsuariosSorteo(partido.fechaPartido)" >Mostrar/Ocultar Inscritos</button>
            <button mat-raised-button color="primary" >Añadir Usuario</button>
          </mat-card-actions>
        </mat-card>
      }
      </div>

      <!-- LISTA DE USUARIOS INSCRITOS A UN PARTIDO -->
      <div class="container__wrapper" #TABLEUSUARIOSPARTIDO>

        <table mat-table [dataSource]="usuariosPartido" class="mat-elevation-z8" #tableUsuariosPartido *ngIf="hiddenListUsuariosPartidos" >

          <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef> No </th>
            <td mat-cell *matCellDef="let inscritos let i = index" > {{i+1}} </td>
          </ng-container>

          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let inscritos" > {{inscritos.nombre}} </td>
          </ng-container>

          <ng-container matColumnDef="apellido">
            <th mat-header-cell *matHeaderCellDef> Apellido </th>
            <td mat-cell *matCellDef="let inscritos"> {{inscritos.apellido}} </td>
          </ng-container>

          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let inscritos"> {{inscritos.email}}</td>
          </ng-container>

          <!-- <ng-container matColumnDef="botones">
          </ng-container> -->

          <tr mat-header-row *matHeaderRowDef="ColumnsInscritos"></tr>
        <tr mat-row *matRowDef="let row; columns: ColumnsInscritos;"></tr>
        </table>
      </div>


    <!-- USUARIOS -->

    <div class="container__wrapper" #TABLE>
      <table mat-table [dataSource]="usuarios" class="mat-elevation-z8" #table *ngIf="hiddenList">


        <ng-container matColumnDef="no">
          <th mat-header-cell *matHeaderCellDef> No </th>
          <td mat-cell *matCellDef="let element let i = index" > {{i+1}} </td>
        </ng-container>
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element" > {{element.nombre}} </td>
        </ng-container>
        <ng-container matColumnDef="apellido">
          <th mat-header-cell *matHeaderCellDef> Apellido </th>
          <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}}</td>
        </ng-container>

        <ng-container matColumnDef="botones">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element" >
            <button mat-raised-button class="container__wrapper__table-buttons"
                      color="primary"
                      type="submit"
                      (click)="openDialog(element)"><mat-icon>edit</mat-icon>
                      Modificar
              </button>
             <button mat-raised-button class="container__wrapper__table-buttons"
                      color="warn"
                      type="submit"
                      (click)="deleteUser(element)"><mat-icon>delete_forever</mat-icon>
                      Eliminar
              </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


      </table>
      <div class="buttons">
        <button mat-raised-button class="container__wrapper__buttons" color="primary" (click)="userList()" >Mostrar Listado Usuarios</button>
        <button mat-raised-button class="container__wrapper__buttons" color="primary" (click)="hiddenUserList()" >Ocultar Listado</button>
      </div>
        <div class="buttons">
        <button mat-raised-button class="container__wrapper__buttons" color="primary" (click)="ExportTOExcel()" *ngIf="exportCsv">Exportar a XLSX
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="description" ></mat-icon>
        </button>
        <button mat-raised-button class="container__wrapper__buttons" color="primary">Realizar sorteo</button>
        </div>
    </div>

      <form class="formLogin" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h1>Login</h1>
        <mat-form-field >
          <mat-label>Nombre</mat-label>
          <input type="text" matInput formControlName ="nombre" >
        </mat-form-field>
        <mat-form-field >
          <mat-label>Contraseña</mat-label>
          <input type="text" matInput formControlName ="contrasena" >
        </mat-form-field>
        <mat-form-field >
          <mat-label>Email</mat-label>
          <input matInput formControlName ="email" >
        </mat-form-field>
          <button mat-raised-button class="container__wrapper__buttons" color="primary" type="submit" [disabled]="loginForm.invalid">Enviar</button>
      </form>
          <p>form value:{{loginForm.value | json}}</p>

        <!-- INPUT PARA INTRODUCIR CONTRASEÑA Y PODER MOSTRARLA SI ES NECESARIO -->
        <!-- <mat-form-field>
          <mat-label>Contraseña</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="contraseña">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field> -->


  </div>
</div>

