@import '../../../styles/palette';

.title {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-top: 45px;
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

.form-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px;
}

.admin {
  width: 100%;
  font-size: 18px;
  margin-top: -15px;
  margin-bottom: 25px;
  input {
    width: 17px;
    height: 17px;
    margin-right: 10px;
  }
}
button {
  margin-bottom: 35px;
}
.error-message {
  color: red;
}
.password-pattern {
  position: relative;
  top: -20px;
  font-weight: bold;
}
