
<div class="container">
    <div class="container__wrapper">
  
      <div mat-dialog-actions>
        <form [formGroup]="editPassword" >
          <h1>Editar contraseña</h1>
          <mat-dialog-actions>
          <mat-form-field >
            <mat-label>Contraseña actual</mat-label>
            <input type="password" matInput formControlName ="contrasenaActual" >
          </mat-form-field>
          <mat-form-field >
            <mat-label>Contraseña nueva</mat-label>
            <input type="password" matInput formControlName ="contrasenaNueva" >
           
          </mat-form-field>
          <mat-form-field >
            <mat-label>Repetir contraseña</mat-label>
            <input type="password" matInput formControlName ="contrasenaRepetida" >
           
          </mat-form-field>
        </mat-dialog-actions>
    
        <div *ngIf="editPassword.get('contrasenaNueva')?.hasError('pattern')"  class="error-message">
           Asegurate de que la contraseña tenga al menos 8 caracteres, un número y un caracter especial.</div>
        <div *ngIf="editPassword.errors?.['notSame'] " class="error-message">
        Las contraseñas no coinciden.</div>
        </form>
       
      
        <button mat-raised-button class="container__wrapper__buttons" color="primary" [disabled]="!editPassword.valid" (click)="checkPasswords()"  >Guardar Cambios</button>
        <button mat-raised-button class="container__wrapper__buttons" color="primary"   (click)="closedModal() ">Cancelar</button>

    
  
      </div>
    </div>
  </div>
  