<div class="password-modal-wrapper">
  <div class="password-modal">
    <h2 class="form-title">{{ "editarContrasena" | translate }}</h2>

    <form [formGroup]="editPassword" class="password-form">
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>{{ "actualContrasena" | translate }}</mat-label>
        <input matInput formControlName="contrasenaActual" placeholder="Contraseña actual"
          [type]="hidePassword['actual'] ? 'password' : 'text'" />
        <button mat-icon-button matSuffix type="button" (click)="clickEvent('actual', $event)"
          [attr.aria-label]="'Mostrar contraseña'" [attr.aria-pressed]="hidePassword['actual']">
          <mat-icon>{{
            hidePassword['actual'] ? 'visibility_off' : 'visibility'
            }}</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>{{ "nuevaContrasena" | translate }}</mat-label>
        <input matInput formControlName="contrasenaNueva" placeholder="Mín. 8 caracteres, 1 número, 1 símbolo"
          [type]="hidePassword['nueva'] ? 'password' : 'text'" />
        <button mat-icon-button matSuffix type="button" (click)="clickEvent('nueva', $event)"
          [attr.aria-label]="'Mostrar contraseña'" [attr.aria-pressed]="hidePassword['nueva']">
          <mat-icon>{{
            hidePassword['nueva'] ? 'visibility_off' : 'visibility'
            }}</mat-icon>
        </button>
      </mat-form-field>

      <div
        *ngIf="editPassword.get('contrasenaNueva')?.dirty && editPassword.get('contrasenaNueva')?.hasError('pattern')"
        class="error-message">
        Asegúrate de que la contraseña tenga al menos 8 caracteres, un número y un
        carácter especial.
      </div>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>{{ "repiteContrasena" | translate }}</mat-label>
        <input matInput formControlName="contrasenaRepetida" placeholder="Repetir nueva contraseña"
          [type]="hidePassword['repetida'] ? 'password' : 'text'" />
        <button mat-icon-button matSuffix type="button" (click)="clickEvent('repetida', $event)"
          [attr.aria-label]="'Mostrar contraseña'" [attr.aria-pressed]="hidePassword['repetida']">
          <mat-icon>{{
            hidePassword['repetida'] ? 'visibility_off' : 'visibility'
            }}</mat-icon>
        </button>
      </mat-form-field>

      <div *ngIf="editPassword.errors?.['notSame'] && editPassword.dirty" class="error-message">
        Las contraseñas no coinciden.
      </div>

      <div class="button-group">
        <button mat-raised-button class="btn btn-guardar" type="submit" [disabled]="!editPassword.valid"
          (click)="checkPasswords()">
          {{ "botones.guardarCambios" | translate }}
        </button>
        <button mat-raised-button class="btn btn-cancelar" type="button" (click)="closedModal()">
          {{ "botones.cancelar" | translate }}
        </button>
      </div>
    </form>


  </div>
</div>