
<div class="container">
    <div class="container__wrapper">

      <div mat-dialog-actions>
        <form [formGroup]="editPassword" >
          <h1>{{"editarContrasena" | translate}}</h1>
          <mat-dialog-actions>
          <mat-form-field >
            <mat-label>{{"actualContrasena" | translate}}</mat-label>
            <input type="password" matInput formControlName ="contrasenaActual" >
          </mat-form-field>
          <mat-form-field >
            <mat-label>{{"nuevaContrasena" | translate}}</mat-label>
            <input type="password" matInput formControlName ="contrasenaNueva" >

          </mat-form-field>
          <mat-form-field >
            <mat-label>{{"repiteContrasena" | translate}}</mat-label>
            <input type="password" matInput formControlName ="contrasenaRepetida" >

          </mat-form-field>
        </mat-dialog-actions>

        <div *ngIf="editPassword.get('contrasenaNueva')?.hasError('pattern')"  class="error-message1">
           Asegurate de que la contraseña tenga al menos 8 caracteres, un número y un caracter especial
        </div>
        <div *ngIf="editPassword.errors?.['notSame'] " class="error-message2">
        Las contraseñas no coinciden
        </div>
        </form>

        <div class="buttons">
        <button mat-raised-button class="container__wrapper__buttons" color="primary" [disabled]="!editPassword.valid" (click)="checkPasswords()"  >Guardar Cambios</button>
        <button mat-raised-button class="container__wrapper__buttons" color="primary"   (click)="closedModal() ">Cancelar</button>
        </div>


      </div>
    </div>
  </div>
