<app-navbar></app-navbar>

<div class="title">
  {{"navbar.usuarios" | translate}}
  <div class="registrar-usuario-container">
    <button mat-raised-button title="Registrar Usuario" (click)="openRegistrarUsuario()">
      <div class="content">
        +
        <img class="user-icon" src="assets/imgs/user.png">
      </div>
    </button>

  </div>
  <mat-form-field color="accent" class="buscador">
    <mat-label>{{"buscador" | translate }}</mat-label>
    <input matInput placeholder= "Introduce el término de búsqueda" name="filterPost" [(ngModel)]="filterPost" >
    <mat-icon matPrefix>
      <img style="width: 25px; height: 25px;" src="../../../assets/imgs/search_grey.png" alt="Lupa">
    </mat-icon>
  </mat-form-field>
</div>

<div class="container__wrapper" #TABLE>

  <table mat-table [dataSource]="usuariosDataSource"  #table>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef style="padding-left: 25px;"> No. </th>
      <td mat-cell *matCellDef="let element let i = index" style="padding-left: 25px;"> {{i+1}} </td>
    </ng-container>
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef>{{"usuarios.nombre" | translate }}</th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>
    <ng-container matColumnDef="apellidos">
      <th mat-header-cell *matHeaderCellDef>{{"usuarios.apellido" | translate }}</th>
      <td mat-cell *matCellDef="let element"> {{element.apellidos}} </td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>{{"usuarios.email" | translate }}</th>
      <td mat-cell *matCellDef="let element"> {{element.email}}</td>
    </ng-container>
    <ng-container matColumnDef="partidos">
      <th mat-header-cell *matHeaderCellDef>{{"usuarios.partidos" | translate }}</th>
      <td mat-cell *matCellDef="let element"> {{element.partidosAsistidos}}</td>
    </ng-container>

    <ng-container matColumnDef="botones">
      <th mat-header-cell *matHeaderCellDef>{{"botones.acciones" | translate }}</th>
      <td mat-cell *matCellDef="let element">
        <div class="container__wrapper__table-buttons">
          <button mat-raised-button class="habilitar" type="submit" title="Partidos Inscritos" (click)="getPartidosInscritosUser(element.user_id)" >
             <img src="../../../../assets/imgs/balon.png" width="20px" height="25px">
             <!-- <img src="assets/imgs/balon.png" > -->
             <!-- <mat-icon matSuffix  ></mat-icon> -->

          </button>
          <button mat-raised-button class="editar" type="submit" title="Editar Usuario" (click)="openDialog(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button [disabled]="element.user_id == myId" mat-raised-button class="eliminar" type="submit"
                  title="Eliminar Usuario" (click)="deleteUser(element.user_id)">
            <mat-icon>delete_forever</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <!-- <mat-paginator [pageSizeOptions]="pageSizeOptions" [length]="usuarios.length" (page)="onPageChange($event)"></mat-paginator> -->

  <!-- <mat-paginator
  [length]="usuariosDataSource?.paginator?.length"
  [pageSize]="cantidadPorPagina"
  (page)= "paginar($event)"
  [pageSizeOptions]="opcionesDeCantidades">
</mat-paginator> -->
<mat-paginator [length]="usuarios.length"
                [pageSize]="cantidadPorPagina"
                (page)="paginar($event)"
                [pageSizeOptions]="opcionesDeCantidades">
</mat-paginator>
</div>

<div class="buttons">

  <button mat-raised-button class="buttons__exportar" (click)="ExportTOExcel()">
    {{"usuarios.exportarXlsX" | translate }}
    <mat-icon aria-hidden="false" class="alignIcon" aria-label="Example home icon" fontIcon="description"></mat-icon>
  </button>
</div>
