// Paleta de colores Magenta (primaria)
$primary-50: #fff0f9;
$primary-100: #ffe4f6;
$primary-200: #ffc9ee;
$primary-300: #ff9cdf;
$primary-400: #ff5fc7;
$primary-500: #ff30ad;
$primary-600: #f50d8b;
$primary-700: #e20074;
$primary-800: #b0045a;
$primary-900: #92094d;
$primary-950: #5b002b;

$magenta: #E20074;
$magenta-light: #F25EA3;