<form class="formLogin" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <h1>Login</h1>
  <mat-form-field >
    <mat-label>Nombre</mat-label>
    <input type="text" matInput formControlName ="nombre" >
  </mat-form-field>
  <mat-form-field >
    <mat-label>Apellido</mat-label>
    <input type="text" matInput formControlName ="apellido" >
  </mat-form-field>
  <mat-form-field >
    <mat-label>Email</mat-label>
    <input matInput formControlName ="email" >
  </mat-form-field>
  <!-- <mat-form-field>
    <mat-label>Contraseña</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" formControlName="contraseña">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field> -->
  <button mat-raised-button class="container__wrapper__buttons" color="primary" type="submit" [disabled]="loginForm.invalid">Enviar</button>
</form>
