.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

.form-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px;
}

.form-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px;
}

.form-description {
  background-color: #f0f0f0;

}

.form-description > a {
  color: #007bff;
  text-decoration: none;
}

.form-description > a:hover {
  color: #0056b3;
}

/* Logo de la empresa para hacerlo mas grande o mas pequeño */
.logo {
  max-width: 50%;
  height: auto;
}

.submit-button {
  margin-top: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}
