<div class="modal-wrapper">
  <div class="wrapper">

    <div class="buscador">
      <mat-form-field appearance="fill" class="buscador__field-mat">
        <mat-icon matPrefix class="buscador__icon-mat">search</mat-icon>
        <input matInput name="filterPost" [(ngModel)]="filterPost" placeholder="{{'Escribe lo que deseas buscar' | translate }}" >
      </mat-form-field>
    </div>

    <div class="contador">
      {{"partidosInscritos" | translate }}
      <span>{{ this.contador}}</span>
    </div>

    <div class="lista">
      
      <div *ngIf="!partidosInscritos || partidosInscritos.length === 0" class="no-users">
        {{"noInscrito" | translate }}
      </div>
      
      <mat-list *ngFor="let partidoInscrito of partidosInscritos | filter:filterPost" role="list">
        <mat-list-item role="listitem" class="list-item">
          <div class="user-info">
            <span class="partido-main">Granada vs. {{partidoInscrito.equipoVisitante }}</span>
            <span class="partido-date">{{partidoInscrito.fechaPartido | date:'dd-MM-yyyy' }}</span>
          </div>
        </mat-list-item>
      </mat-list>
    </div>

    <div class="buttons">
      <button mat-raised-button class="cancelar" (click)="closedModal()">{{"botones.cancelar" | translate }}</button>
    </div>
  </div>
</div>
