<form [formGroup]="registerForm" (ngSubmit)="register()" class="form-container">

  <div class="form-field">
    <div>
      <img src="../../assets/T-SYSTEMS-LOGO.svg" alt="Logo" class="logo">
    </div>
    <h2 class="form-header">
      Registrate para crearte una cuenta
    </h2>
    <p class="form-description">
      Ya tienes una cuenta? <a routerLink="/login">Inicia sesión</a>
    </p>
  </div>

  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="nombre">
    <app-error-alert-form
      [errorMessage]="registerForm.get('nombre')?.invalid && registerForm.get('nombre')?.touched ? 'El nombre es requerido.' : ''"></app-error-alert-form>
  </mat-form-field>

  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Apellidos</mat-label>
    <input matInput formControlName="apellidos">
    <app-error-alert-form
      [errorMessage]="registerForm.get('apellidos')?.invalid && registerForm.get('apellidos')?.touched ? 'El apellido es requerido.' : ''"></app-error-alert-form>
  </mat-form-field>

  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email">
    <app-error-alert-form
      [errorMessage]="registerForm.get('email')?.invalid && registerForm.get('email')?.touched ? 'El email con @t-systems.com es requerido.' : ''"></app-error-alert-form>
  </mat-form-field>

  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Contraseña</mat-label>
    <input matInput formControlName="password" type="password">
    <app-error-alert-form
      [errorMessage]="registerForm.get('password')?.invalid && registerForm.get('password')?.touched ? 'Debes poner una contraseña.' : ''"></app-error-alert-form>
  </mat-form-field>

  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Repite la contraseña</mat-label>
    <input matInput formControlName="repeatPassword" type="password">
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Registrarse</button>

  <div *ngIf="registerForm.get('password')?.hasError('pattern')" class="error-message-password-pattern">
    Asegurate de que la contraseña tenga al menos 8 caracteres, un número y un caracter especial
  </div>

  <div *ngIf="registerForm.errors?.['notSame'] ? 'Las contraseñas no coinciden.' : ''" class="error-message">
    Las contraseñas no coinciden
  </div>

  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
</form>
