<div class="container">
  <div class="wrapper">
    <div class="buscador">
      <div class="buscador__field">
        <img src="../../../assets/imgs/search_grey.png" alt="Lupa" class="buscador__icon" />
        <input
          type="text"
          name="filterPost"
          [(ngModel)]="filterPost"
          placeholder="{{ 'terminoBuscar' | translate }}"
        />
      </div>
    </div>

    <div class="contador">
      <h1>{{ "modalAnadirUsuario.inscritos" | translate }}</h1>
      <span>{{ contador }}</span>
    </div>

    <div class="lista">
      <mat-list *ngFor="let usuarioInscrito of usuariosPartido | filter: filterPost">
        <mat-list-item class="list-item">
          <div class="user-info">
            {{ usuarioInscrito.nombre }} {{ usuarioInscrito.apellidos }}
          </div>
          <div class="user-email">
            {{ usuarioInscrito.email }}
          </div>
        </mat-list-item>
      </mat-list>

      <mat-error *ngIf="!usuariosPartido || usuariosPartido.length <= 0">
        <p class="no-users">{{ "modalAnadirUsuario.noHayInscritos" | translate }}</p>
      </mat-error>
    </div>

    <div class="buttons">
      <button mat-raised-button class="cancelar" (click)="closedModal()">
        {{ "botones.cancelar" | translate }}
      </button>
    </div>
  </div>
</div>
