
.container{
  height:150%;
  width: 100%;
  display: grid;
  //padding: 100px;

  &__wrapper{
    display: flex;
    flex-direction: column;
    //padding: 50px,50px,0px,50px;
    width: auto;
    justify-content: center;

    &__table-buttons{
      margin-right: 20px;
    }


      &__content-wrapper{
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .buttons{
          height: 50px;
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          column-gap: 10px;
          justify-content: flex-start;
          font-size: 20px;
          margin-bottom: 20px;
        }


        .formUpdateUser{
          display: flex;
          flex-direction: column;
          border: solid 2px deeppink;
          padding: 130px;
          border-radius: 50px;
          background-color:#ff00ff08;
        }
        .demo-inline-calendar-card {
          width: 300px;
        }


      }
      .mdc-dialog__actions {
        display: flex;
        flex-direction: column;
        position: relative;
        flex-shrink: 0;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        min-height: 52px;
        margin: 0;
        padding: 8px;
        border-top: 1px solid rgba(0,0,0,0);
    }

  }
  .datetime-picker {
    height: 40px;
    font-size: 17px;
    background-color: whitesmoke;
    border: none;
    border-bottom: 1px solid #7b7b7b;
    border-radius: 5px 5px 0 0;
    padding: 19px 10px 7px 10px;
}

}
