<div class="container">
  <form [formGroup]="updateMatchForm">
    <h1>{{ "modificarPartido.titulo" | translate }}</h1>

    <div class="content">
      <div>
        <label class="label">{{ "modificarPartido.equipoLocal" | translate }}</label>
        <input type="text" value="Granada" class="input-disabled" disabled />
      </div>

      <div>
        <label class="label">{{ "modificarPartido.equipoVisitante" | translate }}</label>
        <input type="text" formControlName="equipoVisitante" placeholder="Equipo visitante" />
      </div>

      <div>
        <label class="label">{{ "modificarPartido.fecha" | translate }}</label>
        <input type="datetime-local" class="datetime-picker" formControlName="fechaPartido" />
      </div>

      <div>
        <label class="label">{{ "modificarPartido.fechaPublicacion" | translate }}</label>
        <input type="date" class="datetime-picker" formControlName="fechaPublicacion" />
      </div>
    </div>

    <div class="buttons">
      <button mat-raised-button class="guardar" (click)="onSubmit()">
        {{"botones.guardarCambios" | translate}}
      </button>
      <button mat-raised-button class="cancelar" (click)="closedModal()">
        {{"botones.cancelar" | translate}}
      </button>
    </div>
  </form>
</div>
