
.container{
    height:150%;
    width: 100%;
    display: grid;
    padding: 100px;
  
    &__wrapper{
      display: flex;
      flex-direction: column;
      padding: 50px,50px,0px,50px;
      width: auto;
  
      &__table-buttons{
        margin-right: 20px;
      }
  
  
        &__content-wrapper{
          display: flex;
          flex-direction: column;
          align-items: flex-start;
  
          .cards-wrapper{
            display: flex;
            flex-direction: row;
            align-items: flex-start;
          }
  
          .buttons{
            height: 50px;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            column-gap: 10px;
            justify-content: flex-start;
            font-size: 20px;
            margin-bottom: 20px;
          }
          .card{
            width: 450px;
            height: 250px;
            background-color: #fafafa;
            border-width: 1px;
            display: grid;
            box-shadow: 5px 5px 1px -1px #e0e0e0, 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
            justify-items: center;
            align-items: center;
            justify-content: center;
            align-content: space-around;
            margin-bottom: 20px;
            margin-right: 20px;
            border: 1px black solid;
          }
  
  
  
          .formLogin{
            display: flex;
            flex-direction: column;
            border: solid 2px deeppink;
            padding: 130px;
            border-radius: 50px;
            background-color:#ff00ff08;
          }
          .demo-inline-calendar-card {
            width: 300px;
          }
  
        }
  .mdc-data-table__table {
      min-width: 10%;
      border: 0;
      white-space: nowrap;
      border-spacing: 0;
      table-layout: fixed;
      //width: 60%;
      width: auto;
      background-color: #b8b3b81f;
      margin-bottom: 20px;
  }
    }
  
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }