<app-navbar></app-navbar>

<app-divisor [titulo]="'Siguiente Partido'"></app-divisor>

<div *ngIf="primerPartido" class="ticket-wrapper">
    <div class="ticket">
        <div class="fecha">
            <div>{{primerPartido.fechaPartido | date:'d MMM'}}.</div>
            <div class="dia-semana">{{primerPartido.fechaPartido | date:'EEEE'}}</div>
            <div>{{primerPartido.fechaPartido | date:'HH:mm'}}H</div>
        </div>
        <div class="equipos-wrapper">
            <div class="equipos">
                <div class="nombre">Granada</div>
                <div class="nombre">{{primerPartido.equipoVisitante}}</div>
            </div>
        </div>
        <!-- BOTONES -->
        <!-- Si tengo la entrada, botones de descarga y devolucion -->
        <div *ngIf=primerPartido.tengoEntrada>
            <div (click)="descargar(primerPartido.id, primerPartido.equipoVisitante)" class="btn-descargar">
                <img class="img-descargar" src="assets/imgs/descargar.png">
            </div>
            <!-- <div (click)="devolver(primerPartido.id)" class="btn-devolver">
                <img class="img-devolver" src="assets/imgs/devolver.png">
            </div> -->
            <div (click)="openAddTicketsUser()"  class="btn-acompanante">
              <img class="img-acompanante" src="assets/imgs/btn_acompañante.png">
          </div>
        </div>
        <!-- Si no tengo la entrada, boton de apuntarse si quedan -->
        <div *ngIf=!primerPartido.tengoEntrada>

            <div *ngIf=primerPartido.stockEntradas (click)="apuntarse(primerPartido.id)" class="btn-apuntame">
                <img class="img-apuntame" src="assets/imgs/apuntame.png">
            </div>
            <div *ngIf=!primerPartido.stockEntradas class="agotadas">
                AGOTADAS
            </div>
        </div>
    </div>
</div>

<app-divisor [titulo]="'Próximos partidos'"></app-divisor>

<div class="ticket-wrapper">
    <div *ngFor="let partido of partidos" style="display: inline-block;">
        <div class="ticket ticket-small">
            <div class="fecha">
                <div>{{partido.fechaPartido | date:'d MMM'}}.</div>
                <div class="dia-semana">{{partido.fechaPartido | date:'EEEE'}}</div>
                <div>{{partido.fechaPartido | date:'HH:mm'}}H</div>
            </div>
            <div class="equipos-wrapper">
                <div class="equipos">
                    <div class="nombre">Granada</div>
                    <div class="nombre">{{partido.equipoVisitante}}</div>
                </div>
            </div>
            <!-- BOTONES -->
            <!-- Si tengo la entrada, botones de descarga y devolucion -->
            <div *ngIf=partido.tengoEntrada>
                <div (click)="descargar(partido.id, partido.equipoVisitante)" class="btn-descargar">
                    <img class="img-descargar" src="assets/imgs/descargar.png">
                </div>
                <div (click)="devolver(partido.id)" class="btn-devolver">
                    <img class="img-devolver" src="assets/imgs/devolver.png">
                </div>
            </div>
            <!-- Si no tengo la entrada, boton de apuntarse si quedan -->
            <div *ngIf=!partido.tengoEntrada>

                <div *ngIf=partido.stockEntradas (click)="apuntarse(partido.id)" class="btn-apuntame">
                    <img class="img-apuntame" src="assets/imgs/apuntame.png">
                </div>
                <div *ngIf=!partido.stockEntradas class="agotadas">
                    AGOTADAS
                </div>
            </div>
        </div>
    </div>
</div>
