div {
  color: white;
}

.ticket-wrapper {
  margin: 0 auto;
  margin-top: 50px;
  position: relative;
  display: flex;
  width: auto;
  justify-content: center;
  flex-direction: column;
  max-width: 500px;
  width: 90vw;

  img {
    width: auto;
    height: auto;
    display: block;
    border-radius: 20px;
  }

  .info-user {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    width: 70%;
    max-width: 80%;
    overflow: hidden;
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.8rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 5px rgba(255, 153, 0, 0.712), 0 0 10px rgb(230, 153, 12),
      0 0 15px rgb(211, 126, 15), 0 0 20px #0ff, 0 0 30px #00f, 0 0 40px #00f, 0 0 50px #00f;
  }
}

@media (max-width: 480px) {
  .ticket-wrapper .info-user {
    font-size: clamp(0.9rem, 5vw, 1.3rem);
    padding: 0 8%;
  }
}

.ticket {
  background-image: url(/assets/imgs/ticket.svg);
  background-size: contain;
  position: relative;
  width: 485px;
  height: 220px;
  margin: 10px;
  padding: 0% 15% 8% 2%;
  display: flex;
  background-repeat: no-repeat;

  .fecha {
    position: absolute;
    top: 6%;
    left: 7%;
    font-family: Evogria;
    font-size: 22px;
    font-style: italic;

    .dia-semana {
      font-size: 14px;
      margin: -2px 37px;
    }
  }

  .equipos-wrapper {
    width: 69%;
    position: absolute;
    top: 38%;

    .equipos {
      width: fit-content;
      margin-left: auto;
      margin-top: 3px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .nombre {
        width: fit-content;
        font-size: 29px;
        margin-bottom: 9%;
        font-family: Evogria;
      }
    }
  }

  /* === BOTONES MAT === */
  button.btn-descargar,
  button.btn-devolver,
  button.btn-apuntame {
    font-family: 'Evogria', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 6px;
    box-shadow: -5px 4px 17px -6px #000000;
    border-radius: 6px;
    transition: all 0.2s ease-in-out;
    width: 150px;
    border: 3px solid #fff;
  }

  button.btn-apuntame:hover {
    box-shadow: -5px 4px 17px -6px #e20074;
    transform: scale(1.03);
  }

  button.btn-descargar:hover {
    box-shadow: -5px 4px 17px -6px #4758b8;
    transform: scale(1.03);
  }

  button.btn-devolver:hover {
    box-shadow: -5px 4px 17px -6px #f44a3e;
    transform: scale(1.03);
  }

  .btn-descargar {
    position: absolute;
    bottom: 20px;
    left: 50px;
  }

  .btn-devolver {
    position: absolute;
    bottom: 20px;
    left: 225px;
  }

  .btn-apuntame {
    position: absolute;
    bottom: 20px;
    left: 140px;
  }

  .agotadas {
    position: absolute;
    top: 61%;
    left: 65%;
    rotate: -28deg;
    color: red;
    font-weight: bold;
    font-size: 30px;
    background-color: #0a0a0a;
    box-shadow: 0 0 8px 8px #292727;
  }
}

.ticket-small {
  background-image: url("/assets/imgs/ticket.svg");
  background-size: contain;
  position: relative;
  width: 328px;
  height: 149px;
  margin: 30px 20px 20px 75px;

  .fecha {
    font-size: 14px;

    .dia-semana {
      margin: -6px 22px;
      font-size: 12px;
    }
  }

  .equipos-wrapper {
    position: absolute;
    top: 34%;

    .equipos {
      .nombre {
        font-size: 18px;
        margin-bottom: 1px;
      }
    }
  }

  /* === BOTONES PEQUEÑOS MAT === */
  button.btn-apuntame,
  button.btn-descargar,
  button.btn-devolver {
    font-family: 'Evogria', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 5px;
    box-shadow: -5px 4px 17px -6px #000000;
    border-radius: 6px;
    transition: all 0.2s ease-in-out;
  }

  button.btn-apuntame:hover {
    box-shadow: -5px 4px 17px -6px #e20074;
    transform: scale(1.03);
  }

  button.btn-descargar:hover {
    box-shadow: -5px 4px 17px -6px #4758b8;
    transform: scale(1.03);
  }

  button.btn-devolver:hover {
    box-shadow: -5px 4px 17px -6px #f44a3e;
    transform: scale(1.03);
  }

  .btn-descargar {
    position: absolute;
    bottom: 7px;
    left: 6px;
  }

  .btn-devolver {
    position: absolute;
    bottom: 8px;
    left: 125px;
  }

  .btn-apuntame {
    position: absolute;
    left: 64px;
    bottom: 7px;
    width: 40%;
  }

  .agotadas {
    position: absolute;
    top: 58%;
    left: 61%;
    font-size: 23px;
  }
}

.container {
  width: 100%;
  display: grid;
  padding: 50px 0px 70px 30px;

  &__spinner {
    display: flex;
    justify-content: center;
  }

  &__table {
    display: flex;
    padding: 50px, 50px, 0px, 50px;
    justify-content: space-around;

    .buscador {
      display: flex;
      flex-direction: column;
    }

    &__content-table {
      display: flex;
      justify-content: center;
      margin-top: 50px;
      width: 70%;
      padding-left: initial;
      padding-top: inherit;
      flex-direction: column;
      align-items: flex-end;
      width: 70%;

      .buscador {
        display: flex;
        flex-direction: column;
        width: 50%;
      }
    }
  }
}

@media (max-width: 1024px) {
  .ticket {
    transform: scale(0.9);
    transform-origin: center;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .ticket {
    width: 70%;
    height: auto;
    aspect-ratio: 485 / 220;
    background-size: contain;
    padding: 5% 10%;
    margin: 10px auto;
  }

  .ticket .fecha {
    font-size: 18px;
    left: 6%;
    top: 8%;

    .dia-semana {
      margin: -2px 20px;
      font-size: 12px;
    }
  }

  .ticket .equipos-wrapper {
    top: 35.5%;
    width: 60%;

    .equipos .nombre {
      font-size: 22px;
      margin-bottom: 8%;
    }
  }

  .ticket button.btn-descargar,
  .ticket button.btn-devolver,
  .ticket button.btn-apuntame {
    width: 120px;
    font-size: 12px;
    border-width: 2px;
    padding: 6px 8px;
  }

  .ticket .btn-descargar {
    left: 30px;
  }

  .ticket .btn-devolver {
    left: 180px;
  }

  .ticket .btn-apuntame {
    left: 100px;
  }

  .ticket .agotadas {
    left: 58%;
    font-size: 22px;
  }
}

@media (max-width: 400px) {
  .ticket {
    padding: 5% 10%;
  }

  .ticket .equipos-wrapper {
    top: 30%;
    width: 60%;

    .equipos .nombre {
      margin-bottom: 5%;
    }
  }

  .ticket button.btn-descargar,
  .ticket button.btn-devolver {
    width: 100px !important;
    font-size: 10px !important;
    padding: 4px 6px;
    border-width: 2px;
  }
}

@media (max-width: 480px) {
  .ticket {
    width: 80%;
    height: auto;
    aspect-ratio: 485 / 220;
    background-size: contain;
    padding: 6% 8%;
  }

  .ticket .fecha {
    font-size: 14px;
    top: 5%;
    left: 10%;

    .dia-semana {
      font-size: 10px;
      margin: -2px 14px;
    }
  }

  .ticket .equipos-wrapper {
    top: 31%;
    width: 60%;

    .equipos .nombre {
      font-size: 18px;
    }
  }

  .ticket button.btn-descargar,
  .ticket button.btn-devolver,
  .ticket button.btn-apuntame {
    width: 115px;
    font-size: 11px;
    padding: 4px 6px;
    border-width: 2px;
  }

  .ticket .btn-descargar {
    left: 20px;
    bottom: 30px;
  }

  .ticket .btn-devolver {
    left: 140px;
    bottom: 30px;
  }

  .ticket .btn-apuntame {
    left: 70px;
    bottom: 30px;
  }

  .ticket .agotadas {
    left: 55%;
    font-size: 18px;
    top: 63%;
  }

  .ticket-wrapper {
    margin-top: 25px;
  }
}