<div class="container">
    <form [formGroup]="form" (submit)="subirPartido()">
        <h2>Subir Entradas</h2>
        <div class="content">
            <div>
                <div class="label">Equipo Local<span style="color: rgb(221, 37, 37);">*</span></div>
                <input formControlName="granada" class="input-disabled" required>
            </div>
            <div>
                <div class="label">Equipo Visitante<span style="color: rgb(221, 37, 37);">*</span></div>
                <input formControlName="equipoVisitante" class="equipo" placeholder="Equipo visitante" required>
            </div>
            <div>
                <div class="label">Fecha Partido<span style="color: rgb(221, 37, 37);">*</span></div>
                <input [(ngModel)]="inputValue" [ngStyle]="{color:color}" (focus)="onFocus()" (blur)="onBlur()" type="datetime-local" class="datetime-picker" formControlName="fechaPartido" required>
            </div>
            <div>
                <div class="label">Fecha Publicación<span style="color: rgb(221, 37, 37);">*</span></div>
                <input (focus)="onFocus()" (blur)="onBlur()" type="datetime-local" class="datetime-picker" formControlName="fechaPublicacion" required>
            </div>

        <div> 
            <input type="file" (change)="uploadPdfFile($event)" class="input-file" required>
        </div>
        <div> 
            <button mat-raised-button class="button" type="submit" [disabled]="!form.valid || noFiles">Subir</button>
        </div>
        </div>
    </form>
</div>