<div class="container col-md-5">

  <form >

    <br><br>
    <h1>Subir Tickets Basket</h1>
    <br><br>

    <div class="mb-3">
      <label for="titulo" class="form-label">Titulo Partido: </label>
      <input required type="text" [(ngModel)]="pdf.titulo" class="form-control" id="titulo" name="titulo">
    </div>

    <br>

    <div class="mb-3">
      <label for="fecha" class="form-label">Fecha Partido: </label>
      <input required type="text" [(ngModel)]="pdf.fechaPartido" class="form-control" id="fecha" name="fecha">
    </div>
    
    <br><br>

    <a>Subir Entradas Baloncesto: </a>
    <br><br>
    <div class="input-group mb-3">
      <input type="file" (change)="subirArchivo($event)" class="form-control" id="archivosSubir">
      <label class="input-group-text" for="archivosSubir">Upload</label>
    </div>

    <br><br>

    <button type="submit" class="btn btn-primary">Login</button>

  </form>
</div>