<div class="forgot-wrapper">
  <div class="form-container">
    <img class="logo" src="../../assets/T-SYSTEMS-LOGO.svg" alt="logo" />

    <h2 class="form-title">{{ 'passwordReset.request.title' | translate }}</h2>

    <p class="form-description">
      {{ 'passwordReset.request.info' | translate }}
    </p>

    <form [formGroup]="form" (ngSubmit)="submit()" class="forgot-form" autocomplete="off">
      <mat-form-field class="form-field">
        <mat-label>{{ 'email' | translate }}</mat-label>
        <input
          matInput
          type="email"
          formControlName="email"
          placeholder="example@t-systems.com"
        />
        <mat-error class="error-message" *ngIf="form.get('email')?.hasError('required')">
          {{ 'errores.emailRequerido' | translate }}
        </mat-error>
        <mat-error class="error-message" *ngIf="form.get('email')?.hasError('email')">
          {{ 'errores.emailInvalido' | translate }}
        </mat-error>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        type="submit"
        class="submit-button"
        [disabled]="form.invalid || submitting"
      >
        {{ 'passwordReset.request.send' | translate }}
      </button>
    </form>

    <div class="back-to-login">
      <a routerLink="/login">{{ 'passwordReset.request.back' | translate }}</a>
    </div>
  </div>
</div>
