<div class="form-container">
  <div>
    <img class="logo" src="../../assets/T-SYSTEMS-LOGO.svg" alt="logo">
  </div>

  <h2 class="form-title">
    Welcome to Magenta Events!
  </h2>

  <p class="form-description">
    Find all the events in our company, have fun and make new friends!
  </p>

  <p class="form-description">
    "Don't have an account yet? "
    <a routerLink="/signup">SignUp</a>
  </p>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" placeholder="example@t-systems.com" class="input-field">
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" placeholder="Enter the password" type="password"
        class="input-field">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid" class="submit-button">{{"login" | translate }}</button>

    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

  </form>
</div>
