<div class="login-wrapper">
  <div class="form-container">
    <img class="logo" src="../../assets/T-SYSTEMS-LOGO.svg" alt="logo" />

    <h2 class="form-title">{{ "bienvenidaMagentaBasket" | translate }}</h2>

    <p class="form-description">
      {{ "noTienesCuenta" | translate }}
      <a routerLink="/signup">{{ "registrate" | translate }}</a>
    </p>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>{{ "email" | translate }}</mat-label>
        <input
          matInput
          formControlName="email"
          [placeholder]="'placeholderEmail' | translate"
          class="input-field"
        />
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>{{ "contrasena" | translate }}</mat-label>
        <input
          matInput
          formControlName="password"
          [placeholder]="'placeholderContrasena' | translate"
          class="input-field"
          [type]="hidePassword['contrasena'] ? 'password' : 'text'"
          (keydown.enter)="onSubmit()"
        />
        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="clickEvent('contrasena', $event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hidePassword['contrasena']"
        >
          <mat-icon>
            {{ hidePassword['contrasena'] ? 'visibility_off' : 'visibility' }}
          </mat-icon>
        </button>
      </mat-form-field>

      <div class="remember-container">
        <mat-checkbox formControlName="rememberMe" color="primary">
          {{ "recordarme" | translate }}
        </mat-checkbox>
      </div>

      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!loginForm.valid"
        class="submit-button"
      >
        {{ "iniciarSesion" | translate }}
      </button>

      <div *ngIf="errorMessage" class="error-message">{{ errorMessage | translate }}</div>
      <div *ngIf="errorDevClient" class="error-message">{{ errorDevClient | translate }}</div>
    </form>

    <div class="forgot-password-container">
      <p class="forgot-password-text">
        {{ "hasOlvidadoContrasena" | translate }}
        <a routerLink="/forgot-password" class="forgot-password-link">
          {{ "recuperarContrasena" | translate }}
        </a>
      </p>
    </div>
  </div>
</div>
