<div class="form-container">
  <div>
    <img class="logo" src="../../assets/T-SYSTEMS-LOGO.svg" alt="logo">
  </div>

  <h2 class="form-title">
    Welcome to Magenta Basket!
  </h2>

  <p class="form-description">
    Find all the events in our company, have fun and make new friends!
  </p>

  <p class="form-description">
    "Don't have an account yet? "
    <a routerLink="/signup">SignUp</a>
  </p>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" placeholder="example@t-systems.com" class="input-field">
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" placeholder="Enter the password" class="input-field"
                      [type]="hidePassword['contrasena'] ? 'password' : 'text'" (keydown.enter)="onSubmit()" />
      <button mat-icon-button
              matSuffix
              type="button"
              (click)="clickEvent('contrasena', $event)"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hidePassword['contrasena']">
        <mat-icon>{{hidePassword['contrasena'] ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid" class="submit-button">{{"login" | translate }}</button>

    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <div *ngIf="errorDevClient" class="error-message">{{ errorDevClient }}</div>


  </form>
</div>
