.error-alert {
  color: #a94442; /* color de texto rojo oscuro */
  background-color: #f2dede; /* color de fondo rojo claro */
  border-color: #ebccd1; /* color de borde rojo */
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: opacity 0.5s ease-out;
}
