
<div class="container">
  <div class="container__wrapper">
    <mat-form-field color="accent" >
      <input matInput name="filterPost" [(ngModel)]="filterPost" placeholder="{{'terminoBuscar' | translate}}" >
       <mat-icon matPrefix>
        <img style="width: 25px; height: 25px;" src="../../../assets/imgs/search_grey.png" alt="Lupa">
      </mat-icon>
    </mat-form-field>
    <h1>{{"modalAnadirUsuario.yaInscritos" | translate }}</h1>
    <div class="container__wrapper__content-wrapper" *ngFor="let usuarioYaInscrito of usuariosYaInscritos | filter:filterPost" >

      <mat-list role="list">
        <mat-list-item  role="listitem">
          {{usuarioYaInscrito.nombre }}
          {{usuarioYaInscrito.apellidos }}
          ({{usuarioYaInscrito.email}})
          <button mat-icon-button color="warn" (click)="deleteUserInscrito(usuarioYaInscrito.user_id,partido)" title="Eliminar Usuario" ><mat-icon>delete_forever</mat-icon></button>
        </mat-list-item>
      </mat-list>

  </div>
<h1>{{"modalAnadirUsuario.pendientes" | translate }}</h1>
    <div class="container__wrapper__content-wrapper" *ngFor="let usuario of usuarios" >
        <section>
          <mat-checkbox
            [(ngModel)]="usuario.selected" 
            (ngModelChange)="addUserToSorteo(usuario.user_id)">
            {{usuario.nombre}}
            {{usuario.apellidos}}
            ({{usuario.email}})
          </mat-checkbox>
      </section>
    </div>
  </div>
  <div class="container__wrapper__content-wrapper">
    <div class="buttons">
    <button mat-raised-button class="buttons__guardar" (click)="onSubmit()">{{"botones.guardar" | translate }}</button>
    <button mat-raised-button class="buttons__cancelar" (click)="closedModal()">{{"botones.cancelar" | translate }}</button>
  </div>
</div>
