
.container{
  height:150%;
  width: 100%;
  display: grid;
  //padding: 100px;

  &__wrapper{
    display: flex;
    flex-direction: column;
    //padding: 50px,50px,0px,50px;
    width: auto;
    justify-content: center;
    margin: 20px;

    &__table-buttons{
      margin-right: 20px;
    }


      &__content-wrapper{
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .buttons{
          height: 40px;
          width: 90%;
          display: flex;
          flex-direction: row;
          align-items: center;
          column-gap: 10px;
          font-size: 15px;
          justify-content: center;
          margin: 10px 0px 0px 10px;

          &__guardar{
            background-color: #36bf98;
            color: #ffffff;
            font-family: allerta;
            font-size: 17px;
          }
          &__cancelar{
            background-color: #8c1f1f;
            color:#ffffff;
            font-family: allerta;
            font-size: 17px;
          }
        }
      }

  h2{
    font: 500 20px/32px Roboto, sans-serif;
    letter-spacing: 0.0125em;
    margin: 0 0 18px 17px;
    /* align-self: center; */
    color: mediumblue;
  }
  }

  .mdc-list {
    margin: 0px;
    padding: 0px 0;
    list-style-type: none;
  }
  h1{
    font: 700 30px/30px allerta;
  }

}
.list-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
