
.container{
  height:150%;
  width: 100%;
  display: grid;
  //padding: 100px;

  &__wrapper{
    display: flex;
    flex-direction: column;
    //padding: 50px,50px,0px,50px;
    width: auto;
    justify-content: center;

    &__table-buttons{
      margin-right: 20px;
    }


      &__content-wrapper{
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .buttons{
          height: 40px;
          width: 40%;
          display: flex;
          flex-direction: row;
          align-items: center;
          column-gap: 10px;
          font-size: 15px;
          justify-content: center;
          margin: 10px 0px 0px 10px;
        }


      }
    //   .mdc-dialog__actions {
    //     display: flex;
    //     position: relative;
    //     flex-shrink: 0;
    //     flex-wrap: wrap;
    //     align-items: center;
    //     justify-content: center;
    //     box-sizing: border-box;
    //     min-height: 52px;
    //     margin: 0;
    //     padding: 8px;
    //     border-top: 1px solid rgba(0,0,0,0);
    // }
    // .mdc-list {
    //   margin: 3px;
    //   /* padding: 8px 0; */
    //   list-style-type: none;
    // }
  }
   .mat-typography h2  {
    font: 500 20px/32px Roboto, sans-serif;
    letter-spacing: .0125em;
    margin: 0 0 17px;
  }
  .mdc-list {
    margin: 0px;
    padding: 0px 0;
    list-style-type: none;
  }

}
