.subir-entradas-container {
  text-align: right;
  margin-right: 30px;
  .subir-entradas-btn {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 30px;
    margin-top: 30px;
    background-color: #36bf98;
    color: white;
    font-family: allerta;
    font-size: 17px;
    padding: 2px 9px;
    &-content{
      display: flex;
      align-items: center;
      padding: 0 5px;
      .entrada-icon {
        width: 30px;
        position: relative;
        bottom: 2px;
        margin-left: 10px;
      }
    }    
  }
}

.container{
  height:150%;
  width: 100%;
  display: grid;
  padding: 100px;

  &__wrapper{
    display: flex;
    flex-direction: column;
    padding: 50px,50px,0px,50px;
    //width: 81px;

    &__table-buttons{
      margin-right: 10px;

      .editar{
        background-color: #36bf98;
        color: #ffffff;
        margin-right: 10px;
    }
      .eliminar{
        background-color: #e11010;
        color:#ffffff;

      }
    }

      &__content-wrapper{
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .cards-wrapper{
          display: flex;
          flex-wrap: wrap;
          align-items: flex-start;



          &__buttons{
            height: 100%;
            width: 105%;
            display: flex;
            flex-direction: column;
            align-items: center;
            //column-gap: 10px;
            justify-content: space-between;
            font-size: 20px;
            align-items: stretch;
             margin-bottom: 20px;

             .buttons-card{
              display: flex;
              justify-content: space-between;
              width: 100%;

              &__mostrar, &__modificar{
                  background-color: #94cef2;
                  color:black;
                  font-family: allerta;
                  font-size: 17px;
              }
              &__aniadir{
                background-color: #36bf98;
                color: #ffffff;
                font-family: allerta;
                font-size: 17px;
              }
              &__eliminar{
                background-color: #8c1f1f;
                color:#ffffff;
                font-family: allerta;
                font-size: 17px;
            }
             }

        }
        }
        .buttons{
          height: 50px;
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          column-gap: 10px;
          justify-content: flex-start;
          font-size: 20px;
          margin-bottom: 20px;

          &__exportar{
            background-color: #36bf98;
            color: #ffffff;

            .alignIcon{
                background-color: aqua;
            display: flex;
            color: black;
            align-self: center;
            }
          }

        }

        .card{
          width: 450px;
          height: 280px;
          background-color: #e0e0e075;
          border-width: 1px;
          display: grid;
          box-shadow: 5px 5px 1px -1px #e0e0e0, 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          justify-items: center;
          align-items: center;
          justify-content: center;
          align-content: space-around;
          margin-bottom: 20px;
          margin-right: 20px;
          border: 1px black solid;
        }

        .demo-inline-calendar-card {
          width: 300px;
        }

      }

        .mdc-data-table__table {
          min-width: 10%;
          border: 0;
          white-space: break-spaces;
          border-spacing: 0;
          table-layout: fixed;
          width: auto;
          height: 100%;
          margin-bottom: 20px;
        }
        .mat-mdc-card-subtitle {
          font-size: xx-large;
          display: block;
          margin: 0;
          color: black;
          font-family: evogria;
          margin-bottom: 20px;
          font: 700 30px/20px Evogria;
        }

  }

}

