<app-navbar></app-navbar>
<div class="subir-entradas-container">
  <!-- <button mat-raised-button (click)="openHabilitarEntradas()" class="habilitar-entradas-btn">
    <div class="subir-entradas-btn-content">
      {{"entradas.habilitar" | translate }}
      <img class="entrada-icon" src="assets/imgs/ticket.png">
    </div>
  </button> -->
  <button mat-raised-button (click)="openSubirEntradas()" class="subir-entradas-btn">
    <div class="subir-entradas-btn-content">
      {{"entradas.subir" | translate }}
      <img class="entrada-icon" src="assets/imgs/ticket.png">
    </div>
  </button>
</div>
<app-divisor [titulo]="'Próximos Partidos'"></app-divisor>

<div class="container">
  <div class="container__wrapper">
    <div class="container__wrapper__content-wrapper">
      <div class="cards-wrapper">
        <!-- <span> {{getEntradasSobrantes(id)}}metodo entradas sobrantes</span> -->
        <!-- <span>{{ getEntradasSobrantes(this.contador) }}</span> -->

          @for (proximoPartido of proximosPartidos; track $index) {
            <mat-card  class="card"  >
            <mat-card-header style="display: grid;width: -webkit-fill-available;" >
              <div class="card__entradas">
                {{"quedan" | translate }} {{proximoPartido.stockEntradas}} {{"tickets" | translate }}
              </div>
            <div class="div">
              <mat-card-title >Granada - {{proximoPartido.equipoVisitante}}</mat-card-title>
              <mat-card-subtitle>{{"modificarPartido.fecha" | translate }}  {{proximoPartido.fechaPartido | date:'dd-MM-yyyy' }}</mat-card-subtitle>
              <mat-card-subtitle>{{"modificarPartido.fechaPublicacion" | translate }}  {{proximoPartido.fechaPublicacion| date:'dd-MM-yyyy' }}</mat-card-subtitle>
              <!-- <div class="card__entradas">
              <mat-card-subtitle>{{"modificarPartido.entradas" | translate }}</mat-card-subtitle>
              <mat-card-subtitle class="stock-entradas"> {{proximoPartido.stockEntradas}}</mat-card-subtitle>
            </div> -->
            </div>

            </mat-card-header>
            <mat-card-actions class="cards-wrapper__buttons">
              <div class="buttons-card">

              <button mat-raised-button class="buttons-card__mostrar" (click)="getUsuariosPartido(proximoPartido.id)" >{{"card.mostrarOcultar" | translate }}</button>
              <button mat-raised-button class="buttons-card__modificar" (click)="openModifyMatch(proximoPartido)" >{{"card.modificarPartido" | translate }}</button>
            </div>
            <div class="buttons-card">
              <button mat-raised-button class="buttons-card__aniadir" (click)="openAddUser(proximoPartido)" >{{"card.anadirUsuario" | translate }}</button>
              <button mat-raised-button class="buttons-card__eliminar" (click)="deleteMatch(proximoPartido)" >{{"botones.eliminarPartido" | translate }}</button>
            </div>
              </mat-card-actions>
            </mat-card>
          }
      </div>
    </div>
  </div>
</div>
  <app-divisor [titulo]="'Partidos Anteriores'"></app-divisor>
<div class="container">
  <div class="container__table" #TABLE>
    <div class="container__table__content-table">
      <div class="buscador">
        <mat-form-field color="accent" >
          <input matInput name="filterPost" [(ngModel)]="filterPost" placeholder="Escribe lo que deseas buscar" >
           <mat-icon matPrefix>
            <img style="width: 25px; height: 25px;" src="../../../assets/imgs/search_grey.png" alt="Lupa">
          </mat-icon>
        </mat-form-field>
      </div>

      <table mat-table [dataSource]="partidosPasados | filter:filterPost" class="mat-elevation-z8" #table>
        <ng-container matColumnDef="partido">
          <th mat-header-cell *matHeaderCellDef style="padding-left: 25px;">{{"partido" | translate }}  </th>
          <td mat-cell *matCellDef="let partido" style="padding-left: 25px;">Granada - {{partido.equipoVisitante}}</td>
        </ng-container>
        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef>{{"fecha" | translate }}</th>
          <td mat-cell *matCellDef="let partido"> {{partido.fechaPartido | date:'dd-MM-yyyy'}} </td>
        </ng-container>
        <ng-container matColumnDef="usuarios">
          <th mat-header-cell *matHeaderCellDef>{{"usuarios.usuarios" | translate }}</th>
          <td mat-cell *matCellDef="let partido" (click)="getUsuariosPartido(partido.id)" >
            <button mat-icon-button class="" type="submit"  >
              <img src="../../../../assets/imgs/users_black.png" width="80px" height="30px">
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>

